@charset "utf-8";
/* 自己定义的css，左边菜单只显示、隐藏，右边主内容不被挤开 */
* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

img {
	max-width: 100%;
}

.float-right {
	float: right;
}