{include file="public/header_popup"}

<link rel="stylesheet" type="text/css" href="__MYLIBRARY__/dtree/dtree.css" />
<script type="text/javascript" src="__MYLIBRARY__/dtree/dtree.js"></script>

<div class="container-fluid">

<div class="row">
	<div class="col-sm-12">
			<form name="form2" action="" method="post">
	    			<table class="table">
	                    <tbody>
	                        <tr>
	                            <td class="span2">id：</td>
	                            <td>
	                               {$edit.id}
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="span2">世代：</td>
	                            <td>
	                               <input type="text" name="generation" class="essentialtexr" value="{$edit.generation}" />
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="span2">姓名：</td>
	                            <td>
	                               <input type="text" name="name" class="essentialtexr" value="{$edit.name}" />
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="span2">亲属：</td>
	                            <td>
	                               <input type="text" name="offspring" class="essentialtexr" value="{$edit.offspring}" placeholder="长子、次子、三子，长女、次女、三女" />
	                            </td>
	                        </tr>
	                        
	                        <tr>
	                            <td class="span2">排行：</td>
	                            <td>
	                               <input type="text" name="ranking" class="essentialtexr" value="{$edit.ranking}" placeholder="使用数字" />
	                            </td>
	                        </tr>
	                        
	                        <tr>
	                            <td class="span2">有亲属关系：</td>
	                            <td>
	                            	<label>
	                                	<input type="radio" name="skinship" class="essentialtexr" value="HAS_FATHER" /> 有父亲 &nbsp;&nbsp;
	                                </label>
	                            	<label>
	                                	<input type="radio" name="skinship" class="essentialtexr" value="HAS_MOTHER" /> 有母亲 &nbsp;&nbsp;
	                                </label>
	                            	<label>
	                                	<input type="radio" name="skinship" class="essentialtexr" value="HAS_SON" /> 有儿子 &nbsp;&nbsp;
	                                </label>
	                            	<label>
	                                	<input type="radio" name="skinship" class="essentialtexr" value="HAS_DAUGHTER" /> 有女儿 &nbsp;&nbsp;
	                                </label>
	                            	<label>
	                                	<input type="radio" name="skinship" class="essentialtexr" value="HAS_HUSBAND" /> 有丈夫 &nbsp;&nbsp;
	                                </label>
	                            	<label>
	                                	<input type="radio" name="skinship" class="essentialtexr" value="HAS_WIFE" /> 有妻子 &nbsp;&nbsp;
	                                </label>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="span2">有关系人：</td>
	                            <td>
	    							<input type="text" id="skinship" name="skinship" value="" disabled readonly />
	    							<input type="button" class="btn btn-primary" value="查找关系人" onclick="searchSkinship();" />
	    							<input type="hidden" id="skinship_id" name="skinship_id" value="" />
	                            </td>
	                        </tr>
	                        
	                        
	                        <tr>
	                        	<td></td>
	                            <td>
	                				<input type="button" class="btn btn-primary" value="确定" onclick="checkForm();" />
	            				</td>
	                        </tr>
	                    </tbody>
	                </table>
					<input type="hidden" name="id" value="{$edit.id}" />
			</form>		
	</div>
</div>	
</div>
{include file="public/footer"}

<script src="__MYLIBRARY__/js/jquery.form.min.js"></script>
<script src="__MYLIBRARY__/layer/layer.js"></script>
<script src="__MYLIBRARY__/jscolor/jscolor.min.js"></script>

<script>	
function checkForm(){
	document.forms['form2'].submit();
}

function searchSkinship(){
	layer.open({
		type: 2,
		title: '查找关系人',
		shadeClose: true,
		shade: 0.2,
		area: ['95%', '95%'],
		content: 'searchSkinship',
		end: function(){
			//location.reload();
		}
	});
}

</script>